.cart-parent-container {
    min-height: 89vh;
    width: 314px;
    margin: 0 auto;
}

.cart-title {
    text-align: center;
    margin: 20px auto;
    width: 79%;
    border-bottom: 1px solid var(--color3);
}

.cart-item-container {
    display: flex;
    padding: 3px;
    padding-left: 7px;
    width: 90%;
    margin: 10px auto;
    background: var(--color4);
    border-radius: 15px;
}

.cart-image-container {
    width: 200px;
}

.cart-total {
    position: relative;
    left: 200px;
    width: 30%;
    border-bottom: 1px solid var(--color3);
}
.cart-product-image {
    width: 100%;
}

.cart-buttons {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.product-info:link .product-info:visited {
    text-decoration: none;
}

.cart-item-info-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.cart-buttons button {
    background: var(--color5);
    border: 1px solid var(--color1);
    border-radius: 3px;
}

@media(min-width: 400px) {
    .cart-parent-container {
        background: var(--color5);
        padding: 15px;
    }
    .cart-entire-parent {
        background: var(--color4);
    }
}