footer {
    width: 100%;
    background: var(--color1);
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-afi-info {
    display: flex;
    flex-direction: column;
}

@media(min-width: 650px) {
    footer {
        font-size: 12px;
        height: 50px;
    }
    .footer-afi-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
}

@media(min-width:980px) {
    footer {
        font-size: 15px;
    }
}