@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700");

:root {
    --color1: #404040;
    --color2: #142158;
    --color3: #70AED1;
    --color4: #F2F2F2;
    --color5: #FFFFFF;
    --color6: #03121B;
    --color1-opac: #404040ab;
    --color1-opac2: hsla(0, 0%, 25%, 0.87);

    --test1: #0D1B2A;
    --test2: #1B263B;
    --test3: #415A77;
    --test4: #778DA9;
    --test5: #E0E1DD;

    --carBackground: url('./images/AFI-Home-Pic1.jpg');
    --storeFront: url('./images/Store-Front.PNG');
    --afiStaff: url('./images/AFI-Staff.jpg');
    --saltLake: url('./images/Salt Lake Valley.jpg');

    --paintCloud: url('./images/paint-cloud.jpeg');
    --testBackground: url('./images/new-car-background.jpg');
    --testBackground2: url('./images/new-car.jpg');
    --colorSelector: url('./images/color-selector.jpeg');
    --sprayCan: url('./images/spray-can.jpg');
}

* {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}
