@mixin transition($prop) {
    -webkit-transition: width $prop; /* Safari */
    transition: width $prop;
}

.chart-container {
    display: none;
}

.admin-dashboard-container {
    min-height: 85.5vh;
}

.chart {
    width: 500px;
    height: 500px;
}

.orders-container {
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;

    text-align: center;
}

.order-information {
    background: var(--color4);
    margin: 20px;
    padding: 10px;
}

.order-details-container {
    margin-top: 20px;
    border-top: 2px solid var(--color1);
}

.order-key-information h3 {
    font-size: 15px;
    margin: 10px;
}

.toggle-order-details {
    font-size: 12px;
    font-style: italic;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid var(--color1);
}

.order-products h3 {
    margin-top: 15px;
    font-size: 13px;
}

.order-products {
    animation-duration: 2s;
    animation-name: bounceIn;
}

@keyframes bonceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  .right-side-admin-container {
      display: none;
  }



@media(min-width: 650px) {
    .order-key-information {
        display: flex;
        justify-content: space-between;
    }
    .orders-container {
        width: 550px;
    }
}

.admin-search-orders {
    width: 200px;
    margin: 10px;
    border: 1px solid var(--color1);
}

@media(min-width: 980px) {
    .right-side-admin-container {
        display: flex;
        flex-direction: column;
    }
    .chart-container {
        display: block;
    }
    .device-to-small {
        display: none;
    }
    .orders-container {
        width: 950px;
        margin: 0 auto;
    }
    .order-details-container {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .chart-container {
        width: 100%;
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--color3);
    }
    .inventory-container {
        padding-top: 2rem;
        min-height: 20rem;
    }
}

@media(min-width: 1440px) {
    .right-side-admin-container {
        width: 45%;
    }
    .admin-dashboard-container {
        display: flex;
        justify-content: space-around;

        max-width: 99vw;
        margin-top: 40px;
     }
     .orders-container{
         max-width: 50%;
         min-width: 50%;
         margin: 0;

         border-right: 1px solid var(--color3);
     }
}